<form action="<%= users_url %>" method="post">
    <%= auth_token %>
    <label for="username">Username: </label>
    <input type="text" id="username" name="user[username]" value="<%= user.username %>">
    
    <label for="password">Password: </label>
    <input type="password" id="password" name="user[password]" value="<%= user.password %>">
    
    <button type="submit">Sign Up</button>
</form>